/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


  body {
      font-family: arial;
      font-size: 1em;
      margin: 10px;
      background: #619cb6;
  }

  .container {
      max-width:800px;
      padding: 0 30px 0 15px;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
  }

  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }

  header {
      text-align: center;
  }

  H1 {
      font-family: 'Luckiest Guy', cursive;
      text-align: center;
      font-size: 2em;
      letter-spacing: 4px;
      font-weight: bold;
      line-height: 1.2em;
      color: white;
      text-shadow: 2px 2px #104963;
  }

  H2 {
      font-family: 'Merienda', cursive;
      text-align: center;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.2em;
      line-height: 1.4em;
      color: white;
      text-shadow: 1px 1px #104963;
  }

  H3 {
      font-family: arial;
      margin: 0;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 1.5em;
      color: white;
  }

  H4 {
      font-family: arial;
      margin: 0;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 1.5em;
      color: #ff3366;
  }

  H5 {
      font-style: italic;
      text-align: center;
      font-size: 10px;
      color: #ff3366;
  }

  H6 {
      display: inline-block;
      font-family: arial;
      margin: 0 15px 0 0;
      padding: 2px 10px;
      text-align: center;
      color: white;
      background: black;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
  }

  H7 {
      display: inline-block;
      font-family: arial;
      margin: 0 15px 0 0;
      padding: 2px 10px;
      text-align: center;
      font-weight: bold;
      color: white;
      background-color: #2196F3;
      -webkit-border-radius: 0 10px 10px 10px;
      -moz-border-radius: 0 10px 10px 10px;
      border-radius: 0 10px 10px 10px;
  }

  H8 {
      display: inline-block;
      font-family: arial;
      margin: 0 15px 0 0;
      padding: 2px 10px;
      font-weight: bold;
      text-align: center;
      background-color: white;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
  }

  /*
  H8::before{
    position:absolute;
    top:-5px;
    content:"TEST";
    font-size:9px;
  }*/
  H9 {
      display: inline-block;
      font-family: arial;
      margin: 0 15px 0 0;
      padding: 2px 10px;
      text-align: center;
      font-weight: bold;
      color: white;
      background-color: #2196F3;
      -webkit-border-radius: 10px 0 10px 10px;
      -moz-border-radius: 10px 0 10px 10px;
      border-radius: 10px 0 10px 10px;
  }

  H10 {
      display: inline-block;
      font-family: arial;
      margin: 0 15px 0 0;
      padding: 2px 10px;
      text-align: center;
      font-weight: bold;
      color: white;
      background-color: #e63b67;
      -webkit-border-radius: 10px 0 10px 10px;
      -moz-border-radius: 10px 0 10px 10px;
      border-radius: 10px 0 10px 10px;
  }

  H11 {
      display: inline-block;
      font-family: 'Merienda', cursive;
      background: #FFFFFF;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.5px;
      margin: 5px;
      padding: 5px;
      text-align: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  h12 {
      font-size: 13px;
  }
  h20{
    display:inline-block;
    font-size:9px;
    font-weight:bold;
    padding:0 5px;
    margin:0 5px;
    background: #fd9347;
    color:white;
    letter-spacing: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  h21{
    display:inline-table;
    font-size:10px;
    font-weight:bold;
    padding:2px 5px;
    margin:0 1px;
    background: #ffca32;
    color:black;
    letter-spacing: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .headerTitle {
      position: relative;
      top: 30px;
      min-height:30px;
      margin-bottom: 30px;
  }
  #navChoixFilter {
      position: fixed;
      z-index: 200;
      width: 105%;
      top:100px;
      left:-10px;
      top:60px;
      min-height: 30px;
      height: 400%;
      padding-top:10px;
      margin-right: auto;
      margin-left: auto;
      background-color: rgba(5, 48, 68, 0.9);
      font-weight: 500;
  }
   #navChoixFilter:before{
    content:"First choose your filter size : All, 5, 7, 10 questions ?";
    display:block;
    width:300px;
    margin-right: auto;
    margin-left: auto;
    padding:10px 0;
      font-family: 'Merienda', cursive;
      text-align: center;
      font-weight: 500;
      letter-spacing: -1px;
      font-size: 1.4em;
      line-height: 1.6em;
      color: white;
      text-shadow: 1px 1px #000000;
   } 
  #nbQuestion {
    display:block;
    margin-top:100px;
      font-family: 'Merienda', cursive;
      text-align: center;
      letter-spacing: -1px;
      font-size: 1.2em;
      line-height: 1.6em;
      color: white;
      text-shadow: 1px 1px #000000;
  }
  .chx {
      display: inline-block;
      float: left;
      width: 30px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      padding: 5px;
      margin: 5px;
      text-align: center;
      border: none;
      background: #96c8df;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.4);
      -webkit-box-shadow: 3px 0px 5px 3px rgba(0,0,0,0.4);
      -o-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.4);
      box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.4);
  }

  .chx:hover {
      cursor: pointer;
      background: #adfcb0;
  }
  .sep{
    display:block;
    width:100%;
    color:white;
    font-size:8px;
    letter-spacing: 1pt;
    text-align: left;
    padding:3px 0 0 0;
    margin:0;


  }
  #containerFilters {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  #filterQuestions {
      display: table;
      min-width: 30px;
      min-height: 30px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
      text-align: center;
      padding: 0 10px;
      border-bottom: 1px solid #96c8df;
      -webkit-box-shadow: inset 2px -30px 14px -19px rgba(16, 73, 99, 1);
      -moz-box-shadow: inset 2px -30px 14px -19px rgba(16, 73, 99, 1);
      box-shadow: inset 2px -30px 14px -19px rgba(16, 73, 99, 1);
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
  }

  .filter {
      display: inline-block;
      float: left;
      min-width: 15px;
      font-size: 14px;
      line-height: 20px;
      padding: 5px 5px 3px 5px;
      margin: 5px 5px 0 5px;
      text-align: center;
      border: none;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
  }

  .filter:hover {
      cursor: pointer;
      background: #fdb887;
      color: white;
  }

  .statusFluo {
      background: #08f814 !important;
  }

  .statusBleu {
      background: #96c8df;
  }

  .statusVert {
      background: #adfcb0;
  }

  .bodyBad {
      background: #b60f3a;
  }

  .bodyBadMedium {
      background: #c76445;
  }

  .bodyMedium {
      background: #fdb887;
  }

  .statusOrange {
      background: #fd9347;
  }

  .ref {
      position: fixed;
      top: 0;
      left: -10%;
      z-index: 20;
      display: block;
      width: 120%;
      background-color: #104963;
      text-align: center;
  }
  ul {
      display: inline-block;
  }
  .btnNav {
      display: inline-block;
      float: left;
      font-size: 22px;
      padding: 5px;
      margin: 5px;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }

  .rose {
      cursor: pointer;
      margin-top: 10px;
      background: #96c8df;
  }

  #review {
      margin-top: 12px;
      font-size: 16px;
      background: #08f814;
  }

  .rose:hover {
      background: #ff3366;
  }

  #menuOpen li:hover {
      background: #bce3f5;
  }

  .opt {
      cursor: pointer;
      display: block;
      float: none;
      font-size:10px;
      width: 300px;
      padding: 10px 15px;
      margin: 5px;
      border: none;
      background: #96c8df;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .item{
    font-size:11px!important;
    font-weight:bold;
    letter-spacing: 1;
    color:#104963;
    padding:8px!important;
    width:88%!important;
  }
  #titre {
      margin-top: 40px;
      width: 100%;
      text-align: center;
  }
  .titre {
      display: inline-block;
      font-size: 14px;
      margin: 5px;
      text-align: center;
      background: #96c8df;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 5px 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  section {
      position: relative;
      display: table;
      width: 100%;
      padding: 5px;
      margin: 10px 0;
      min-height: 30px;
      background: white;
      border: 1px solid white;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
  }

  .finalText {
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      min-height: 30px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      margin-bottom: 70px;
  }

  .blocFinal {
      display: table;
      width: auto;
      font-size: 13px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
  }

  .finalL {
      float: left;
      display: block;
      width: 30%;
      max-width:200px;
      padding: 5px;
      margin: 2px;
      text-align: left;
      background: #a0ffa5;
      -webkit-border-radius: 10px 10px 0 10px;
      -moz-border-radius: 10px 10px 0 10px;
      border-radius: 10px 10px 0 10px;
  }

  .finalL:nth-of-type(2) {
      width: 50%;
      max-width:600px;
  }

  #message {
      margin-top: 50px;
      width: 80%;
      text-align: center;
      margin-left: 10%;
  }

  #finalText.span:nth-of-type(2) {
      color: green;
  }

  .finalR {
      position: absolute;
      display: inline-block;
      width: auto;
      padding: 0;
      border: 6px solid white;
      text-align: center;
      background: white;
      font-size: 16px;
      font-weight: bold;
      -webkit-border-radius: 50% 50% 50% 0;
      -moz-border-radius: 50% 50% 50% 0;
      border-radius: 50% 50% 50% 0;
  }
  .finalL:nth-of-type(2) .final:nth-of-type(1) {
    float:left;
    width: 70%;
  }

  .great {
      border: 6px solid #08f814;
      background: #08f814;
  }

  .medium {
      border: 6px solid #fdb887;
      background: #fdb887;
  }

  .bad {
      border: 6px solid #ff3366;
      background: #ff3366;
  }

  .btnMedium {
      border: 6px solid #fdb887;
      background: #fdb887;
  }

  .btnBadMedium {
      border: 6px solid #fdb887;
      background: #ff3366;
  }

  .btnBad {
      border: 6px solid #ff3366;
      background: #ff3366;
  }

  .redo {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: #96c8df;
      border: 15px solid #96c8df;
      border-bottom: 5px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      margin-bottom: 15px;
  }

  .redo:before {
      position: absolute;
      top: -12px;
      left: 14px;
      font-weight: normal;
      font-size: 13px;
      content: "Choose which ones :";
  }

  .finalBtn {
      display: inline-block;
      float: left;
      width: 25px;
      font-size: 14px;
      line-height: 20px;
      padding: 2px;
      margin: 5px;
      font-weight: bold;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }

  .finalBtn:hover {
      cursor: pointer;
      background: #2196F3;
      border-color: #2196F3;
      color: #ffffff;
  }

  .final {
      display: block;
      width: 100%;
      padding: 0 5px 5px 0;
  }

  .size80 {
      width: 80px;
  }

  .colL {
      position: relative;
      float: left;
      min-height: 40px;
      width: 40%;
      max-width: 40%;
      margin: 5px 10px 5px 5px;
      -webkit-transition: all 4s ease-out;
      transition: all 4s ease-out;
  }

  .colR {
      position: relative;
      float: right;
      width: 46%;
      margin: 5px;
  }

  #fixedBtnBottom {
      display: table;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  #bottomTools {
      position: fixed;
      z-index: 10;
      left: 0;
      bottom: 0;
      border: none;
      background-color: rgba(16, 73, 99, .8);
      width: 100%;
  }

  #content {
      z-index: 100;
      left: 0;
      bottom: 0;
      border: none;
      width: 100%;
  }

  #tester {
      margin: 5px;
      padding: 10px 20px;
      border: none;
      margin-bottom: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  #top {
      float: right;
  }

  #guide {
      float: left;
  }

  .btnTools {
      width: 30px;
      height: 30px;
      background: #96c8df;
      font-size: 16px;
      line-height: 30px;
      margin: 8px;
      text-align: center;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
  }

  .btnTools:hover {
      cursor: pointer;
      background: #bce3f5;
  }

  .total {
      border: none;
      background: none;
      display: table;
      margin-left: auto;
      margin-right: auto;
  }
  /*textarea{
      outline-style:none;
  }*/
.speech{
  position:relative;
  float:right;
  padding:5px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  top:0;
}
.speech:hover{
 color:#f510c7;
}
.speechTrad{
  position:absolute;
  z-index:100;
  background: white;
  color:#000000;
  font-size:30px;
  left: 90%;
  top:10px;
  padding:5px;
  border:4px solid #2196F3;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  -moz-box-shadow: 5px 3px 5px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 0px 5px 3px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 3px 5px 3px rgba(0,0,0,0.6);
  box-shadow: 5px 3px 5px 3px rgba(0,0,0,0.6);
}
.speechTrad:hover{
 color:#f510c7;
}
.speechQuest:hover{
 color:#f510c7;
}
  .speaking{
   color:#f510c7;
   background: white;  
   font-size:30px;
  }

  button:focus {
      background-color:#104963;
      color: #ffffff;
      outline: 0 !important;
      border:1px solid white!important;
  }

  button:hover {
      cursor:pointer;
      background-color:#104963;
      color: #ffffff;
      outline: 0 !important;
  }

  #penalty {
      width: 80%;
      background: transparent;
      padding: 0 10px;
      margin: 0;
      margin-right: auto;
      margin-left: auto;
      border: none;
  }

  #btnTester:focus {
      background-color: #bce3f5;
      color: #ffffff;
      outline: 0 !important;
      border:1px solid white!important;
  }

  #btnTester:hover {
      cursor:pointer;
      background-color:#bce3f5;
      color: #ffffff;
      outline: 0 !important;
  }

  .question {
      display: block;
      font-size: 13px;
      line-height: 16px;
      margin: 10px 0 5px 0;
      min-height: 18px;
      width: 100%;
  }

  .help {
      position: relative;
      cursor:pointer;
      width: 100%;
      min-height: 10px;
      padding: 2px;
      background-color: #2196F3;
      color: #ffffff;
      margin: 0;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 14px;
      -webkit-border-radius: 0 20px 20px 20px;
      -moz-border-radius: 0 20px 20px 20px;
      border-radius: 0 20px 20px 20px;
      /*-webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      transition-property: transform;
      transition-duration: 1s;
      transition-delay: 0,4s;
      transition-timing-function: ease; */
  }
  .help:hover{
    background: #2196f3;
  }
  .closed {
      width: 10px;
      background-color: #96c8df;
  }

  .opened {
      width: 90%;
      background-color: #2196F3;
  }

  .check {
      cursor: pointer;
      float: right;
      position: relative;
      display: inline-block;
      width: auto;
      padding: 4px 10px;
      background: #fdb887;
      -webkit-border-radius: 40px 40px 0 40px;
      -moz-border-radius: 40px 40px 0 40px;
      border-radius: 40px 40px 0 40px;
      font-size: 10px;
      font-weight: bold;
  }

  .check:hover {
      background: #f5883a;
  }
.langNONE {
      cursor: none;
      margin-bottom:10px;

  }

  .langEN {
      cursor: pointer;
      float: left;
      position: relative;
      left: -25px;
      top: -8px;
      padding: 4px;
      background: #f510c7;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-size: 10px;
      color: white;
      font-weight: bold;
  }
  .langEN:after{
    content:" →"
  }
  .langFR {
      cursor: pointer;
      float: left;
      position: relative;
      left: -25px;
      top: -8px;
      padding: 4px;
      background: blue;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-size: 10px;
      color: white;
      font-weight: bold;
  }
  .langFR:after{
    content:" →"
  }

  .translation {
      position: absolute;
      z-index: 10;
      left: 10px;
      margin-right: 30px;
      border: 2px solid #ffffff;
      min-height: 10px;
      text-align: center;
      background-color: #2196F3;
      color: #ffffff;
      padding: 10px;
      font-size: 14px;
      line-height: 16px;
      -webkit-border-radius: 20px 0 20px 20px;
      -moz-border-radius: 20px 0 20px 20px;
      border-radius: 20px 0 20px 20px;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -moz-box-shadow: 0px 0px 5px 3px #9b9b9b;
      -webkit-box-shadow: 0px 0px 5px 3px #9b9b9b;
      -o-box-shadow: 0px 0px 5px 3px #9b9b9b;
      box-shadow: 0px 0px 5px 3px #9b9b9b;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=5);
  }
  .translation:hover{
    cursor:pointer;
    background:#104963; 
  }
  .translation:focus{
    cursor:pointer;
    background:#104963; 
  }

  .exempl {
      position: absolute;
      z-index: 15;
      left: 10px;
      border: 2px solid #ffffff;
      min-height: 10px;
      max-width: 70%;
      text-align: left;
      background-color: #2196F3;
      /*background-color: rgba(33, 150, 243, .9);*/
      color: #ffffff;
      padding:5px 20px 5px 10px;
      margin-right:30px;
      font-size: 14px;
      line-height: 16px;
      -webkit-border-radius: 0 20px 20px 20px;
      -moz-border-radius: 0 20px 20px 20px;
      border-radius: 0 20px 20px 20px;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -moz-box-shadow: 0px 0px 5px 3px #9b9b9b;
      -webkit-box-shadow: 0px 0px 5px 3px #9b9b9b;
      -o-box-shadow: 0px 0px 5px 3px #9b9b9b;
      box-shadow: 0px 0px 5px 3px #9b9b9b;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=5);
  }
  .exempl a{
    width:90%;
    display: inline-block;
    margin-right:0;
    float: left;
  }
  .exempl a:before{
    content:"x";
    font-weight:bold;
    font-size:12px;
    line-height:13px;
    display:inline-block;
    color:#2196F3;
    background:white;
    padding:1px 4px;
    margin:0 3px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .exempl a:hover:before{
    color: white;
    background:red;
  }
  .exempl:hover{
    cursor:pointer;
    background:#104963; 
  }
  .visOnQuestion {
      display: inline-block;
  }

  .visOffFilterQuestion {
      display: none;
  }
  .rep {
      width: 100%;
      min-height: 30px;
      background: #e4e7e9;
      font-size: 13px;
      line-height: 16px;
      resize: none;
      border: none!important;
      letter-spacing: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
  }

  #congrat {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 22px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
  }

  .repOk {
      letter-spacing: 0px;
      text-align: center;
      background-color: #adfcb0;
      border: 1px solid #adfcb0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  .score {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      padding: 5px 5px 0 5px;
      font-size: 13px;
      line-height: 18px;
  }

  .points {
      text-align: center;
      width: 160px;
      margin-left: auto;
      margin-right: auto;
      height: 25px;
      padding: 5px;
      font-size: 22px;
      background-color: #000000;
      color: #ffffff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
  }

  .commutPosi {
      position: relative;
      float: right;
      width: 30px;
      height: 18px;
  }

  .curs {
      position: absolute;
      cursor: pointer;
      height: 17px;
      width: 30px;
      left: 2px;
      bottom: 2px;
      border: 2px solid:#2196F3;
      background-color: #2196F3;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-transition: .2s;
      transition: .2s;
  }
  .curs:hover{
    background-color:#000000;
  }
  .tradUsedColor {
      border: 2px solid:#ff3366!important;
      background-color: #ff3366!important;
  }

  .slider {
      position: absolute;
      width: 13px;
      height: 13px;
      margin: 2px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }

  .sliderChecked {
      background-color: #2196F3;
  }

  .sliderPosiChecked {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
  }

  .showPossibilities {
      position: absolute;
      top: -15px;
      left: -110%;
      width: 180%;
      color: #000;
      text-align:right;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0);
  }

  @media only screen and (max-device-width: 720px) {
      .exempl a{
        width:100%;
      }
      /*
      .speechTrad{
        left: 40px;
        top:-10px;
        -moz-box-shadow: 5px 3px 5px 3px rgba(0,0,0,0.6);
        -webkit-box-shadow: 5px 0px 5px 3px rgba(0,0,0,0.6);
        -o-box-shadow: 5px 3px 5px 3px rgba(0,0,0,0.6);
        box-shadow: 5px 3px 5px 3px rgba(0,0,0,0.6);
      }*/
  }
  @media only screen and (max-device-width: 420px) {
      .container {
          margin-bottom: 460px;
      }
      .ref {
          position: fixed;
          top: 0;
          left: -40px;
          z-index: 20;
          display: block;
          width: 110%;
          margin-left: 20px;
          background-color: #104963;
          text-align: center;
      }
      #titre {
          width:70%;
          margin-left:15%;
      }
      #content {
          position: fixed;
          left: 20%;
          bottom: 0;
          width: 60%;
      }

      #tester {
          margin-bottom: 6px;
      }
/*;
      #congrat {
          top: -50px;
      }

      #finalText {
          top: -50px;
      }
  }
*/

  @media (min-width: 1200px) {
      .container {
          width: 800px;
      }
  }

  @media (min-width: 1900px) {
      .container {
          width: 800px;
      }
  }